# HW 3

## Juliet Holmes

Use the the following libraries and source text to answer the questions in this assessment.

    data/gutenberg/pg42324.txt
    lib/textimporter.py
    lib/langmod.py

These resources are all available in the course GitHub repo at https://github.com/ontoligent/DS5001-2022-01.

Follow this pattern:

    Create a new notebook for your work.
    Parse the Frankenstein text to generate TOKENS and VOCAB tables.
    Create a list of sentences from the TOKENS table and a list of terms from the VOCAB table.
    Pass the two lists to an langmod.NgramCounter object to generate ngram type tables and models, going up to the trigram level.
    Write the code to answer the questions below.

Hints:

    You may use the libraries or cut-and-paste code from the relevant notebooks.
    Use the M03_LanguageModels.ipynb to see how the objects from the libraries are used.
    The story begins with the Preface.
    Even though they are not called "chapters," treat the Preface and Letters as chapters.
    Don't worry about OOV words or creating and <UNK> term in your vocabulary.
    You don't have to use the "START OF PROJECT GUTENBERG ...", etc., to clip the text. Find the lines where you think the text actually begins and ends.

Q1: List six words that precede the word "monster" in the text, excluding stop words (and sentence boundary markers). Stop words include 'a', 'an', 'the', 'this', 'that', etc. Hint: use the df.query() method. 

Q2: List the following sentences in ascending order of bigram perplexity according to the language model generated from the text.

The monster is on the ice.
Flowers are happy things.
I have never seen the aurora borealis.
He never knew the love of a family.

Q3: Using the bigram model represented as a matrix, explore the relationship between bigram pairs as done in the "Explore" section of the template notebook, but use the following lists. What might you speculate about gender and communication given the results you see?

    ['he','she'] to select the indices.
    ['said','heard'] to select the columns.

Hint: use .unstack() method on the feature n and then use .loc[] to select the first list from the index, and the second list from the columns.

Q4: Generate a text using the .generate_text() function of the langmod.NgramLanguageModel object you created.

Q5: Compute the redundancy R for each of the ngram modes, using the MLE estimates of joint probabilities for each ngram type. Does R increase, decrease, or stay the same as ngram length increases?

# 0: Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.display import HTML
import os

# os.chdir(r"C:\Users\Juliet\Box\Courses\DS-5001\github\DS5001-2022-01\lib")
import sys
sys.path.append("../lib")
from textimporter import TextImporter
from langmod import NgramCounter, NgramLanguageModel

# os.chdir('C:\\Users\\Juliet\\Box\\Courses\\DS-5001\\M03\\2_Notebooks')

In [2]:
# This prevents matplotlib from throw irrelevant errors
from matplotlib.axes._axes import _log as matplotlib_axes_logger
matplotlib_axes_logger.setLevel('ERROR')

In [3]:
sns.set()

In [4]:
os.getcwd()

'/Users/rca2t1/Dropbox/Courses/DS/DS5001/DS5001_2022_01_residential/notebooks/labs-repo/M03_LanguageModels'

In [18]:
mytext = "../data/gutenberg/pg42324.txt"

In [19]:
mytext

'../data/gutenberg/pg42324.txt'

In [20]:
OHCO = ['chap_id', 'para_num', 'sent_num', 'token_num']

In [21]:
chap_pat = r"^\s*(?:CHAPTER|LETTER|PREFACE\.)"

In [22]:
clip_pats = [
    r"\*\*\*\s*START OF (?:THE|THIS) PROJECT", #escapign asterix in reg
    r"\*\*\*\s*END OF (?:THE|THIS) PROJECT"
]

In [23]:
ohco_pats=[('chap', chap_pat, 'm')]

In [25]:
Frankenstein = TextImporter(mytext, ohco_pats, clip_pats)

In [26]:
Frankenstein

In [27]:
chap_pat = r"^\s*(?:chapter|letter)\s+\d+" #evertyhgint that begins with space or chapter that connects it wth a number

In [28]:
r"^\s*(?:chapter|letter|introduction)\s+\."

'^\\s*(?:chapter|letter|introduction)\\s+\\.'

In [29]:
Frankenstein.import_source().parse_tokens()

Importing  ../data/gutenberg/pg42324.txt
Clipping text
Parsing OHCO level 0 chap_id m by milestone ^\s*(?:CHAPTER|LETTER|PREFACE\.)
line_str
Parsing OHCO level 1 para_num d by delimitter \n\n
Parsing OHCO level 2 sent_num d by delimitter [.?!;:]+
Parsing OHCO level 3 token_num d by delimitter [\s',-]+

In [30]:
TOKENS = Frankenstein.TOKENS

In [31]:
#vocab = Frankenstein.import_source().parse_tokens().extract_vocab();

In [32]:
TOKENS.head()

                                    token_str term_str
chap_id para_num sent_num token_num
1       0        0        0               The      the
                          1             event    event
                          2                on       on
                          3             which    which
                          4              this     this

In [33]:
Frankenstein.LINES

                                                  line_str
line_id
19
20
21
22
23       Produced by Greg Weeks, Mary Meehan and the On...
...                                                    ...
7666
7667
7668
7669
7670     End of the Project Gutenberg EBook of Frankens...

[7652 rows x 1 columns]

In [34]:
OHCO

['chap_id', 'para_num', 'sent_num', 'token_num']

In [35]:
#Create a list of sentences from the TOKENS table and a list of terms from the VOCAB table.
#SENTENCES = TOKENS.term_str.values.tolist()

#create new df with term streen aggregated by sent_num
#df1 = TOKENS.groupby("sent_num")["term_str"].apply(list)
#SENTENCE_LIST0 = df1.tolist()

#SENTENCE_LIST = TOKENS.groupby(["sent_num"])["term_str"].apply(list)
#SENTENCE_series = TOKENS.groupby(["sent_num"])["term_str"].apply(' '.join).reset_index()

SENTENCE_LIST= list(TOKENS.groupby(OHCO[:-1]).term_str.apply(lambda x: ' '.join(x)).values)

In [36]:
VOCAB = TOKENS.term_str.value_counts().to_frame('n').reset_index().rename(columns={'index':'term_str'})
VOCAB.index.name = 'term_id'

In [37]:
VOCAB.head()

        term_str     n
term_id
0            the  4251
1            and  2991
2              i  2860
3             of  2686
4             to  2121

In [38]:
VOCAB_LIST  = VOCAB.term_str.values.tolist()

In [39]:
train = NgramCounter(SENTENCE_LIST, VOCAB_LIST)

In [40]:
train.generate()

In [41]:
train.LM[1].sort_values('n', ascending=False).head()

             n       mle
w0   w1
<s>  <s>  5184  0.056645
</s> <s>  5183  0.056634
<s>  i     824  0.009004
of   the   538  0.005879
<s>  but   457  0.004994

In [43]:
# train.NG

In [44]:
train.NG[0].loc[0]

                 w0
token_num
0               <s>
1               <s>
2               the
3             event
4                on
5             which
6              this
7           fiction
8                is
9           founded
10              has
11             been
12         supposed
13               by
14               dr
15             </s>

In [45]:
train.NG[1].loc[0]

                 w0        w1
token_num
0               <s>       <s>
1               <s>       the
2               the     event
3             event        on
4                on     which
5             which      this
6              this   fiction
7           fiction        is
8                is   founded
9           founded       has
10              has      been
11             been  supposed
12         supposed        by
13               by        dr
14               dr      </s>
15             </s>       <s>

In [46]:
train.NG[2].loc[0]

                 w0        w1        w2
token_num
0               <s>       <s>       the
1               <s>       the     event
2               the     event        on
3             event        on     which
4                on     which      this
5             which      this   fiction
6              this   fiction        is
7           fiction        is   founded
8                is   founded       has
9           founded       has      been
10              has      been  supposed
11             been  supposed        by
12         supposed        by        dr
13               by        dr      </s>
14               dr      </s>       <s>
15             </s>       <s>       <s>

# NOTE

It's better to run this on train.LM[1]; there is no need to use drop_duplicates.

In [51]:
q1_df = train.NG[1].query("w1=='monster'")

In [52]:
q1_df2 = q1_df.drop_duplicates()

## Q1

In [53]:
q1_df2

                            w0       w1
sent_num token_num
979      26          miserable  monster
1049     6                this  monster
1080     5                 the  monster
2101     2            abhorred  monster
2601     5                   a  monster
2904     24         detestable  monster
3118     1                 <s>  monster
3123     2             hideous  monster
4588     6             hellish  monster
4686     3            gigantic  monster

In [54]:
q1_v2 = q1_df2["w0"].to_list()

In [56]:
q1_v2

['miserable',
 'this',
 'the',
 'abhorred',
 'a',
 'detestable',
 '<s>',
 'hideous',
 'hellish',
 'gigantic']

'miserable',
 'abhorred',
 'detestable',
 'hideous',
 'hellish',
 'gigantic'

In [57]:
model = NgramLanguageModel(train)
model.k = 1
model.apply_smoothing()

In [58]:
NG = model.NG
LM = model.LM
Z1 = model.Z1
Z2 = model.Z2
#PPmax = model.PPmax

In [60]:
# model.Z1

## Test models

In [61]:
S_TEST = """
The monster is on the ice.
Flowers are happy things.
I have never seen the aurora borealis.
He never knew the love of a family.
""".split('\n')[1:-1]

In [62]:
test = NgramCounter(S_TEST, VOCAB_LIST) # Note that we use the training vocab
test.generate()
model.predict(test)

### Compare models

### bigrams

In [63]:
comp_cols = ['len','pp1','pp2','pp3','sent_str']

## Q2

In [64]:
test.S.sort_values('pp2')[comp_cols].head() #.style.background_gradient()

,len,pp1,pp2,pp3,sent_str
0,9,25.787009,599.662793,1.772019e+07,The monster is on the ice.
1,7,20.305066,752.349061,1.458786e+07,Flowers are happy things.
2,10,23.169290,1011.898818,1.963752e+07,I have never seen the aurora borealis.
3,11,39.713753,1723.675748,1.741371e+06,He never knew the love of a family.

In [66]:
test.S.head()

,sent_str,len,ng_1_ll,pp1,ng_2_ll,pp2,ng_3_ll,pp3
0,The monster is on the ice.,9,-42.197153,25.787009,-83.052069,599.662793,-216.710017,1.772019e+07
1,Flowers are happy things.,7,-30.406375,20.305066,-66.886809,752.349061,-166.587858,1.458786e+07
2,I have never seen the aurora borealis.,10,-45.341420,23.169290,-99.828493,1011.898818,-242.271096,1.963752e+07
3,He never knew the love of a family.,11,-58.427235,39.713753,-118.264000,1723.675748,-228.049716,1.741371e+06

## Q3

In [67]:
M = LM[1].n.unstack()

In [68]:
M.head()

w1,1,11th,12th,13th,17,1816,1817,18th,19,2,...,younger,youngest,youngster,your,yours,yourself,yourselves,youth,youthful,zeal
w0,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11th,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12th,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13th,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
Q3 = M.loc[['he','she'], ['said','heard']]

In [62]:
Q3

w1   said  heard
w0
he   21.0    5.0
she   3.0    3.0

In [63]:
Q3.dropna(axis=0)

w1   said  heard
w0
he   21.0    5.0
she   3.0    3.0

## Q4

In [74]:
def generate_text(LM, n=20):
    
    # Start with beginning sentence marker
    words = ['<s>', '<s>']
        
    # Sentence counter
    sent_count = 0
    
    while sent_count < n:
        
        # Get trigram context
        bg = tuple(words[-2:])

        # Get next word
        words.append(LM[2].loc[bg].sample(weights='cp').index.values[0])

        # Terminate when end-of-sentence marker found
        if words[-1] == '</s>':
            sent_count += 1                        
            if sent_count < n:
                words.append('<s>')
    
    # Create text from words
    text = ' '.join(words)
    
    sents = pd.DataFrame(dict(sent_str=text.split('<s> <s>')))
    sents['len'] = sents.sent_str.str.len()
    sents = sents[sents.len > 0]
    sents.sent_str = sents.sent_str.str.replace('<s> ', '')
    sents.sent_str = sents.sent_str.str.replace(' </s>', '')
    sents.sent_str = sents.sent_str.str.strip()
    sents.sent_str = sents.sent_str.str.replace(r" s ", "'s ", regex=True)
    sents['html'] = "<li>" + sents.sent_str.str.upper() + ".</li>"

    output = sents.sort_values('len').html.str.cat(sep='\n')
            
    display(HTML(f"<ol style='font-family:monospace;margin-left:1rem;width:4in;'>{output}</ol>"))
    
    return sents

In [75]:
sents = generate_text(LM, n=20)

KeyError: 'String passed to weights not a valid column'

In [73]:
LM

[             n       mle         p      log_p
 w0
 1            2  0.000022  0.000022 -15.481784
 11th         2  0.000022  0.000022 -15.481784
 12th         2  0.000022  0.000022 -15.481784
 13th         1  0.000011  0.000011 -16.481784
 17          10  0.000109  0.000109 -13.159856
 ...         ..       ...       ...        ...
 yourself    28  0.000306  0.000306 -11.674429
 yourselves   1  0.000011  0.000011 -16.481784
 youth       21  0.000229  0.000229 -12.089466
 youthful     3  0.000033  0.000033 -14.896821
 zeal         4  0.000044  0.000044 -14.481784

 [7036 rows x 4 columns],
                  n       mle      mle2         p      log_p
 w0       w1
 1        </s>    2  0.000022  1.000000  0.000426 -11.195987
 11th     17      1  0.000011  0.500000  0.000284 -11.780950
          the     1  0.000011  0.500000  0.000284 -11.780950
 12th     17      1  0.000011  0.500000  0.000284 -11.780950
          </s>    1  0.000011  0.500000  0.000284 -11.780950
 ...             ..       ...       ...       ...        ...
 youthful days    1  0.000011  0.333333  0.000284 -11.781155
          lovers  2  0.000022  0.666667  0.000426 -11.196192
 zeal     </s>    1  0.000011  0.250000  0.000284 -11.781360
          modern  1  0.000011  0.250000  0.000284 -11.781360
          of      2  0.000022  0.500000  0.000426 -11.196397

 [41154 rows x 5 columns],
                               n       mle  mle2             p      log_p
 w0       w1     w2
 1        </s>   <s>           2  0.000022   1.0  6.059957e-08 -23.976117
 11th     17     </s>          1  0.000011   1.0  4.039972e-08 -24.561080
          the    passage       1  0.000011   1.0  4.039972e-08 -24.561080
 12th     17     </s>          1  0.000011   1.0  4.039972e-08 -24.561080
          </s>   <s>           1  0.000011   1.0  4.039972e-08 -24.561080
 ...                          ..       ...   ...           ...        ...
 youthful lovers while         1  0.000011   0.5  4.039972e-08 -24.561080
 zeal     </s>   <s>           1  0.000011   1.0  4.039972e-08 -24.561080
          modern philosophers  1  0.000011   1.0  4.039972e-08 -24.561080
          of     felix         1  0.000011   0.5  4.039972e-08 -24.561080
                 his           1  0.000011   0.5  4.039972e-08 -24.561080

 [67769 rows x 5 columns]]