# Metadata

```
Course:   DS 5001
Module:   03 Lab
Topic:    HW Example
Author:   R.C. Alvarado
```

## Configure

In [1]:
data_home = '../data'

In [2]:
OHCO = ['book_id', 'chap_num', 'para_num', 'sent_num', 'token_num']
text_file = f'../data/gutenberg/pg42324.txt' # Generated in HW 02

In [3]:
ngram_size = 3
k = .5 # Add-k Smoothing parameter

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.display import HTML

In [5]:
import sys
sys.path.append("../lib/")

In [6]:
from textimporter import TextImporter

In [7]:
ohco_pats = [
    ('chap', r"^\s*(?:PREFACE\.|LETTER |CHAPTER )", 'm')
]

In [8]:
clip_pats = [
    r"\*\*\* START OF THIS PROJECT GUTENBERG EBOOK FRANKENSTEIN",
    r"\*\*\* END OF THIS PROJECT GUTENBERG EBOOK FRANKENSTEIN"
]

In [9]:
franky = TextImporter("../data/gutenberg/pg42324.txt", ohco_pats=ohco_pats, clip_pats=clip_pats)

In [11]:
franky.import_source().parse_tokens()

Importing  ../data/gutenberg/pg42324.txt
Clipping text
Parsing OHCO level 0 chap_id m by milestone ^\s*(?:PREFACE\.|LETTER |CHAPTER )
line_str
                                                  line_str  chap
line_id
272                                                            1
273                                                            1
274      The event on which this fiction is founded, ha...     1
275      Darwin, and some of the physiological writers ...     1
276      impossible occurrence. I shall not be supposed...     1
...                                                    ...   ...
7666                                                          29
7667                                                          29
7668                                                          29
7669                                                          29
7670     End of the Project Gutenberg EBook of Frankens...    29

[7371 rows x 2 columns]
                                               chap_str
chap
1     \n\nThe event on which this fiction is founded...
2     \n\n_To Mrs. Saville, England._\n\nSt. Petersb...
3     \n\n_To Mrs. Saville, England._\n\nArchangel, ...
4     \n\n_To Mrs. Saville, England._\n\nMY DEAR SIS...
5     \n\n_To Mrs. Saville, England._\n\nAugust 5th,...
6     \n\nI am by birth a Genevese; and my family is...
7     \n\nWe were brought up together; there was not...
8     \n\nWhen I had attained the age of seventeen, ...
9     \n\nFrom this day natural philosophy, and part...
10    \n\nIt was on a dreary night of November, that...
11    \n\nClerval then put the following letter into...
12    \nOn my return, I found the following letter f...
13    \n\nWe passed a few sad hours, until eleven o'...
14    \n\nNothing is more painful to the human mind,...
15    \n\nI spent the following day roaming through ...
16    \n\n"It is with considerable difficulty that I...
17    \n\n"I lay on my straw, but I could not sleep....
18    \n\n"I now hasten to the more moving part of m...
19    \n\n"Some time elapsed before I learned the hi...
20    \n\n"Such was the history of my beloved cottag...
21    \n\n"Cursed, cursed creator! Why did I live? W...
22    \n\nThe being finished speaking, and fixed his...
23    \n\nDay after day, week after week, passed awa...
24    \n\nLondon was our present point of rest; we d...
25    \n\nI sat one evening in my laboratory; the su...
26    \n\nI was soon introduced into the presence of...
27    \n\nThe voyage came to an end. We landed, and ...
28    \n\nIt was eight o'clock when we landed; we wa...
29    \n\nMy present situation was one in which all ...
Parsing OHCO level 1 para_num d by delimitter \n\n
Parsing OHCO level 2 sent_num d by delimitter [.?!;:]+
Parsing OHCO level 3 token_num d by delimitter [\s',-]+

In [10]:
.extract_vocab();

Importing  ../data/gutenberg/pg42324.txt
Clipping text
Parsing OHCO level 0 chap_id m by milestone ^\s*(?:PREFACE\.|LETTER |CHAPTER )
line_str
                                                  line_str  chap
line_id
272                                                            1
273                                                            1
274      The event on which this fiction is founded, ha...     1
275      Darwin, and some of the physiological writers ...     1
276      impossible occurrence. I shall not be supposed...     1
...                                                    ...   ...
7666                                                          29
7667                                                          29
7668                                                          29
7669                                                          29
7670     End of the Project Gutenberg EBook of Frankens...    29

[7371 rows x 2 columns]
                                               chap_str
chap
1     \n\nThe event on which this fiction is founded...
2     \n\n_To Mrs. Saville, England._\n\nSt. Petersb...
3     \n\n_To Mrs. Saville, England._\n\nArchangel, ...
4     \n\n_To Mrs. Saville, England._\n\nMY DEAR SIS...
5     \n\n_To Mrs. Saville, England._\n\nAugust 5th,...
6     \n\nI am by birth a Genevese; and my family is...
7     \n\nWe were brought up together; there was not...
8     \n\nWhen I had attained the age of seventeen, ...
9     \n\nFrom this day natural philosophy, and part...
10    \n\nIt was on a dreary night of November, that...
11    \n\nClerval then put the following letter into...
12    \nOn my return, I found the following letter f...
13    \n\nWe passed a few sad hours, until eleven o'...
14    \n\nNothing is more painful to the human mind,...
15    \n\nI spent the following day roaming through ...
16    \n\n"It is with considerable difficulty that I...
17    \n\n"I lay on my straw, but I could not sleep....
18    \n\n"I now hasten to the more moving part of m...
19    \n\n"Some time elapsed before I learned the hi...
20    \n\n"Such was the history of my beloved cottag...
21    \n\n"Cursed, cursed creator! Why did I live? W...
22    \n\nThe being finished speaking, and fixed his...
23    \n\nDay after day, week after week, passed awa...
24    \n\nLondon was our present point of rest; we d...
25    \n\nI sat one evening in my laboratory; the su...
26    \n\nI was soon introduced into the presence of...
27    \n\nThe voyage came to an end. We landed, and ...
28    \n\nIt was eight o'clock when we landed; we wa...
29    \n\nMy present situation was one in which all ...
Parsing OHCO level 1 para_num d by delimitter \n\n
Parsing OHCO level 2 sent_num d by delimitter [.?!;:]+
Parsing OHCO level 3 token_num d by delimitter [\s',-]+

In [11]:
franky.TOKENS

                                        token_str      term_str
chap_id para_num sent_num token_num
1       0        0        0                   The           the
                          1                 event         event
                          2                    on            on
                          3                 which         which
                          4                  this          this
...                                           ...           ...
29      88       0        7          Frankenstein  frankenstein
                          8                    by            by
                          9                  Mary          mary
                          10                    W             w
                 1        1               Shelley       shelley

[76359 rows x 2 columns]

In [12]:
franky.VOCAB

              n  n_chars         p             s          i         h
term_str
the        4252        3  0.055684     17.958373   4.166585  0.232013
and        2993        3  0.039196     25.512529   4.673134  0.183170
i          2861        1  0.037468     26.689619   4.738207  0.177530
of         2687        2  0.035189     28.417938   4.828730  0.169918
to         2123        2  0.027803     35.967499   5.168622  0.143703
...         ...      ...       ...           ...        ...       ...
intimated     1        9  0.000013  76359.000000  16.220511  0.000212
amend         1        5  0.000013  76359.000000  16.220511  0.000212
hadst         1        5  0.000013  76359.000000  16.220511  0.000212
openly        1        6  0.000013  76359.000000  16.220511  0.000212
daring        1        6  0.000013  76359.000000  16.220511  0.000212

[7039 rows x 6 columns]

In [19]:
sents = franky.gather_tokens(2).sent_str.to_list()

In [20]:
vocab = franky.VOCAB.index.to_list()

In [22]:
from langmod import NgramCounter, NgramLanguageModel